<mian class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email" required>
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu contraseña" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una cuenta</a>
            <a href="/reestablecer-password">Olvide mi Contraseña</a>
        </div>
        <div class="campo">
            <input class="btn btn-azul" type="submit" value="Iniciar sesion">
        </div>
    </form>
</mian>