<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Tu Email" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesion</a>
        </div>
        <div class="campo">
            <input class="btn btn-azul" type="submit" value="reestablecer contraseña">
        </div>
    </form>
</main>